<!doctype html>
<html class="no-js" ng-app="crammer.<%= fleck.inflect(appName, 'underscore', 'dasherize') %>">
<head>
  <meta charset="utf-8">
  <title><%= fleck.inflect(appName, 'upperCamelize') %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <!-- crush:css -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  <!-- endinject -->

  <!-- crush:js -->
    <!-- build:js scripts/vendor.js -->
      <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
      <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->
      <script src="scripts/main.js"></script>
      <!-- inject:partials -->
      <!-- endinject -->
    <!-- endbuild -->
  <!-- endinject -->

  <body>
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-include="'partials/main.html'"></div>

  </body>
  </html>
